.images-container{
    display: grid;
  gap:0.5rem;
    grid-template-columns: repeat(auto-fit, minmax(20rem,4fr));
   
}
img{
    width: 20rem;
    height: 14rem;
   padding: 1rem;
   border-radius: 1.4rem;
}

 /* media queries medium devices*/


 @media screen and (max-width:1024px) {
  header{
    height:68vh;
  }
  
}
@media screen and (max-width:600px){
 
img{
height: 6rem;
width: 7rem;
}
img:hover{
  height: 10rem;
  width: 13rem;
}.images-container{
  display: grid;

  grid-template-columns: repeat(auto-fit, minmax(4rem,4fr));}
 .block{
    height: 10rem;
    width: 11rem;
  }
 
}


