.infocontainer{
    display: grid;
   grid-template-columns: 3fr auto 2fr ;

}
h3{
    color:rgba(69, 57, 57, 0.671);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: smaller;
}