.btn {

margin-left: 1rem;

border-radius: 0.5rem;

background-color: rgba(13, 103, 192, 0.737);
}
.butons{
    gap:2rem;

padding-top: 0.5rem;
padding-bottom: 2.5rem;
align-items: center;
justify-content: center;
}